<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title></title>
<link rel="stylesheet" href="../application/views/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="../application/views/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../application/views/css/maincss.css">
<script src="../application/views/js/jquery-2.1.3.min.js"></script>
<script src="../application/views/js/jquery-ui.min.js"></script>
<script src="../application/views/js/bootstrap.min.js"></script>
<script src="../application/views/js/language.js"></script>
    <script src="../application/views/js/xmlhttprequest.js"></script>
    <script src="../application/views/js/login.js"></script>

</head>
<body id="login-body">
<div class="container" id="login-main-contaniner" style="background-color: #1ABC9C">
    <div class="container-fluid topper" id="topper-main" style="background-color: #1ABC9C">
        <div id="language">
                <span id="chinese">
                </span>
                <span id="english">
                </span>
        </div>
    </div>
    <div class="container-fluid" id="login-logo">

    </div>
    <div class="container-fluid" id="login-form">
        <div id="login-form-head">登录</div>
        <div class="login-box">&nbsp;用户名称&nbsp;&nbsp;
            <input id="login-username" class="login-input-box" name="lgname" type="text"/></div>
        <div class="login-warning" id="login-warn-name"></div>
        <div class="login-box">&nbsp;登录密码&nbsp;&nbsp;
            <input id="login-password" class="login-input-box" name="lgpwd" type="password"/></div>
        <div class="login-warning" id="login-warn-pw"></div>
        <div class="login-box" id="login-chk">
            <input id="login-yzm" class="login-input-box" name="chknm" type="text" maxlength="5" placeholder="请输入验证码"/>
            <div id="changea">
                <img id='chkid' src=""/>
            </div>
        </div>
        <div class="login-warning" id="login-warn-yzm"></div>
        <div id="btn-box">
            <button class="btn-lg btn-success" id="lgbtn" type="submit">登录</button>
            <button class="btn-lg btn-success" id="rgbtn" type="submit">注册</button>
            <button class="btn-lg btn-success" id="fdbtn" data-toggle="modal" data-target="#myModal">忘记密码</button>
            <input id="chknm" name="chknm" type="hidden" value=""  />
        </div>
        <div id="regimg"><i class="icon-repeat icon-2x icon-spin"></i></div>

    </div>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 310px;width: 280px">
        <div class="modal-content">
            <div class="modal-header" style="width: 280px;text-align: center;font-size: 40px;background-color: #009966;border-color: #16694f;border-width: 5px;font-family:'Segoe UI', 'Lucida Grande', Helvetica, Arial, 'Microsoft YaHei', FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'FontAwesome', sans-serif;text-shadow: 2px 2px 3px #222;color: snow">
            找回密码
            </div>
            <div class="modal-body" style="background-color: #1ABC9C;padding: 0">
                <div class="findpw-choice" data-toggle="collapse" data-target="#findby-em" >
                    邮箱找回
                </div>
                <div id="findby-em" class="collapse findby"></div>
                <div class="findpw-choice" data-toggle="collapse" data-target="#findby-qu">
                    密保找回
                </div>
                <div id="findby-qu" class="collapse findby"></div>
            </div>

        </div>
    </div>
</div>




</body>
</html>