<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>邮件发送……</title>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
   <script>

  function check() {


  	if(jQuery.trim(jQuery("#sendfrom").val())==''||


   jQuery.trim(jQuery("#password").val())==''||


   jQuery.trim(jQuery("#sendto").val())==''||


   jQuery.trim(jQuery("#topic").val())==''||


   jQuery.trim(jQuery("#content").val())==''){


   alert("填写信息不完整");


   return false;

     }

 }
   </script>
</head>     <body>
    <form action="mail_con/sendMail" method="post" onsubmit="return check();">

  <div>发送人：<input type="text" name="sendfrom" id="sendfrom"/></div>

  <div>密&nbsp;&nbsp;码：<input type="password" name="password" id="password"/></div>

  <div>收件人：<input type="text" name="sendto" id="sendto"/></div>

 <div>发送主题：<input type="text" name="topic" id="topic"/></div>

  <div>发送内容：<textarea name="content" id="content" cols="20" rows="8"></textarea><div>

  <div><input type="submit" value="发送"></div>
   </form>     </body> </html>